body {
  background: #fff;
  overflow: hidden;
  cursor: pointer;
}

#bw{
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background:#fff;
  z-index: 999999999999;
  mix-blend-mode: difference;
  pointer-events: none;
  display: none;
  
}

#bw, .grad{
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  pointer-events: none;
  background: #fff;
}

#player {
  overflow: hidden;
  position: fixed;
  bottom: -100px;
  left: 50%;
  width: 40vw;
  height: 40vw;
  margin-left:-20vw;
  z-index: 1;
  border-radius: 100%;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  transition-delay: 0.2s;

  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  -ms-animation: spin 20s linear infinite;
  -o-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
  opacity: 0;
}

#controls{
  position: fixed;
  width: 100vw;
  height: 30px;
  bottom: 0;
  left: 0;
  background:#fff;
  z-index:999999;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: .5em 1em;
  display: none;
}

#controls a{
  font-size: .7em;
  opacity: 0.4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

#controls a:hover{
  cursor: pointer;
  opacity: 1;
}

#msgs{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index:9;
  display: none;
}

#msgs h1{
  display: block;
  width: 100%;
  font-family: "Times New Roman";
  font-weight: normal;
  letter-spacing: -.5px;
  padding: .5em 1em;
  margin: 0;
  font-size:5vw;
  opacity: 0.5;
  text-align: center;
}

#msgs .wrapper{
  width: 100%;
  height: auto;
  padding:0 1em;
  box-sizing:border-box;
  column-width: 280px;
  column-count:6;
  column-gap: 0;
  margin: 0 auto;
}

#msgs .wrapper p{
  display:inline-block;
  vertical-align: top;
  height: auto;
  width: 100%;
  font-size: .8em;
  line-height: 140%;
  letter-spacing: -.1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  white-space: pre-wrap;
  padding: 1em;
  margin: -.25em 0;
  box-sizing: border-box;
  opacity: 0.8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  
}

#msgs .wrapper:hover p:not(:hover){
  opacity: 0.5;
}

#player iframe {
  border-radius: 100%;

}

#player:hover {
  bottom: -50px;
}


.grad {
  position: fixed;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100vw;
  z-index: 999;
  opacity: 1;
  /*  outline: 1px solid blue;*/
  pointer-events: none !important;
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
}


#msg {
  font-family: "Times New Roman";
  font-size: 1.5em;
  font-weight: normal;
}


#msg h1 {
  font-weight: normal;
  letter-spacing: -2px;
}

#msg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: calc(100vh - 30vw);
  width: 100%;
  padding: calc(40px + 1vw);
  font-size: 2.4em;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  vertical-align: center;
  align-items: center;
  align-content: center;
}


#msg .__intro h1 {
  width: 100%;
font-size: 2em;
  text-align: center;
  padding: 0;
  margin: .25em auto;
  margin-top: -1em;
  max-width: 580px;
  line-height: 90%;
  letter-spacing: -3px;
}

#msg .__intro p {
  font-size: .3em;
  padding: 0;
  margin: .5em;
  text-transform: uppercase;
  line-height: 120%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  
  
  -webkit-transition: all 4s ease-in-out;
  -moz-transition: all 4s ease-in-out;
  -ms-transition: all 4s ease-in-out;
  -o-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}


#msg .__intro {
  margin-top: 20vh;
  text-align: center;
/*  display: none;*/
}


#msg .isaid {
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: pre-line;
  letter-spacing: 0;
  pointer-events: none;
  line-height: 100%;
  text-align: center;
  display: none;
}


@media only screen and (max-width: 600px) {
  
  #msg .__intro h1{
    font-size: 2.2em;
    letter-spacing: -2px;
  }
  
  #msg{
    font-size: 1.5em;
    padding-bottom: 10vh;
  }
  

  .track{
    transform: none !important;
    animation: none !important;
  }
  
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(0);
  }
}

  .s.__left,
  .s.__right {
    display: none;
  }

  #msg{
    line-height: 90%;
    height: 70vh;
    max-height: calc(90vh - 25vw);
  }
  #msg,
  .grad {
    height: 100vh;
  }
  
  .grad{
    pointer-events: none; 
  }
  
  #msg .isaid{
    height: 100%;
  }

  #player {
    width: 60vw;
    height: 60vw;
    bottom: -15vw;
    margin-left: -30vw;
  }

}


.s {
  position: fixed;
  width: 100vw;
  z-index: 9;
  pointer-events:none;
  background: #fff;
  height: 30px;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .6em;
  overflow: hidden;
  /*  mix-blend-mode: difference;*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont;


  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  
  opacity: 0;
}

.s * {
  overflow: hidden;
}


.s.__top {
  top: 0;
  z-index: 15;
}

.s.__bottom {
  bottom: 0;
  transform: rotate(-180deg);
}

.s.__right {
  bottom: 49.5%;
  left: 50vw;
  margin-left: -20px;
  transform: rotate(90deg);
}

.s.__left {
  bottom: 49.5%;
  right: 50vw;
  margin-right: -20px;
  transform: rotate(-90deg);
}

/* MARQUEE */


.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 40px;
  overflow-x: hidden;
}


.track {
  border: 0;
  padding: 1em 0;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-24.8%);
  }
}


/* SPIN */

@keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* SCROLLBAR */


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: none;
}


::-webkit-scrollbar-thumb {
  background: #000;
  border: 3px solid #fff;
}


::-webkit-scrollbar-thumb:hover {
  background: #000;
}
