body{
  overflow: hidden;
  cursor: pointer;
}

#cover{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background:#fff;
  z-index: 999;
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
  pointer-events: none;
}

#player{
  position: fixed;
  bottom: -150px;
  left:50%;
  margin-left: -250px;
  width: 500px;
  height: 500px;
  z-index: 1;
  -webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
  opacity: 0;
}

#player:hover{
  bottom: -50px;
}

#msg{
  font-family: "Times New Roman";
  font-size: 2em;
  font-weight: normal;
  
}


#msg h1{
  font-weight: normal;
  letter-spacing: -2px;
}

.grad {
  position: fixed;
  top: 0;
  left: 0;
  height: 50vh;
  max-height: 450px;
  width: 100vw;
  height: 100%;
  z-index: 0;
/*  outline: 1px solid blue;*/
  pointer-events: none;
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
}


#msg{
  position: fixed;
  top: 0; left: 0;
  height: 50vh;
  max-height: 500px;
  width: 100%;
  padding: 5vw;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}


#msg .__intro h1{
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding: 0; margin: 0;
  line-height: 90%;
}

#msg .__intro p{
  margin-top: -.5em;
  padding: 0; margin: 0;
  line-height: 90%;
}

#msg .isaid{
  height: auto;
  margin-top: -.5em;
  white-space: pre-line;
  letter-spacing: -.5px;
  pointer-events: none;
  line-height: 100%;
  text-align: center;
  display: none;
}

#msg .__intro{
  text-align: center;
}


  @media only screen and (max-width: 600px) {
   
    #msg, .grad{
      font-size: 1.75em;
      height: 100vh;
      max-height: calc(80vh - 30vw);
    }
    
    #player{
      width: 80vw;
      height: 80vw;
      bottom: -30vw;
      margin-left: -40vw;
    }
    
  }


#s{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 999;
  background: #fff;
  height: 40px;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8em;
  mix-blend-mode: difference;
  font-family: system-ui, 
             -apple-system, BlinkMacSystemFont;
}

/* MARQUEE */


.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 40px;
  overflow-x: hidden;
}


.track {
  padding: 2.5vw;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}



/* SCROLLBAR */


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: none;
}


::-webkit-scrollbar-thumb {
  background: #000;
  border: 3px solid #fff;
}


::-webkit-scrollbar-thumb:hover {
  background: #000;
}